
  
  body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background: #fff;
    color: #333;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(199, 85, 85);
    color: white;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    text-align: end;
    padding: 100px 10px;
    background: url('image/1stsweet.jpg') no-repeat center/cover;
    color: white;
    gap: 10px;

  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero .btn {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ff5e57;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .menu {
    padding: 40px 20px;
    text-align: center;
  }
  
  .menu h2 {
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .card img {
    width: 100%;
    border-radius: 10px;
  }
  
  footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 30px 20px;
  }

  